In [143]:
ISubItem = [3452, 3647, 3948, 3829, 3928, 3726]

In [144]:
import random

In [145]:
submissions = ISubItem #iSubItem, object list
results1 = []
results2 = []
results3 = []
#creates 3 seperate sets with 1,2,3 added
for i, j in enumerate(submissions):
    assignid1 = str(submissions[i]) + ('1')
    results1.append(assignid1)
    assignid2 = str(submissions[i]) + ('2')
    results2.append(assignid2)
    assignid3 = str(submissions[i]) + ('3')
    results3.append(assignid3)

print(results1, results2, results3)

['34521', '36471', '39481', '38291', '39281', '37261'] ['34522', '36472', '39482', '38292', '39282', '37262'] ['34523', '36473', '39483', '38293', '39283', '37263']

In [146]:
#randomly shuffle lists 2 and 3
shuf_res1 = results1
shuf_res2 = random.sample(results2, len(results2))
shuf_res3 = random.sample(results3, len(results3))
print(shuf_res1, shuf_res2, shuf_res3)

['34521', '36471', '39481', '38291', '39281', '37261'] ['39282', '36472', '39482', '37262', '38292', '34522'] ['37263', '34523', '39283', '36473', '39483', '38293']

In [147]:

studentid = [93049, 90384, 93740, 94873, 94728, 92516]

In [148]:
#creates lists with 1,2,3 combined for use as value pairs for student id key
nested = [[i,j,k] for i,j,k in zip((shuf_res1), (shuf_res2), (shuf_res3))]
print(nested)

[['34521', '39282', '37263'], ['36471', '36472', '34523'], ['39481', '39482', '39283'], ['38291', '37262', '36473'], ['39281', '38292', '39483'], ['37261', '34522', '38293']]

In [149]:
## Assign each student id as a key and each list of 3 as the value pair.
fdbkassigned = {}
for i in studentid:
    for j in nested:
        fdbkassigned[i]=j
print(fdbkassigned)

{93049: ['37261', '34522', '38293'], 90384: ['37261', '34522', '38293'], 93740: ['37261', '34522', '38293'], 94873: ['37261', '34522', '38293'], 94728: ['37261', '34522', '38293'], 92516: ['37261', '34522', '38293']}